<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <br>
    Where are some boris bikes near by...
  </p>
  <form ng-submit="submit()">
    Where I am: <input type="text" ng-model="userDetails.location"/>
    <input type="submit"  value="cycle time"/>
  </form>
<p>
  {{ nearestBike }}
  {{userDetails.location}}
  {{map.center}}
  before userDeailtd
  {{userDetails.latitude}}
  {{userDetails.longitude}}
</p>

</div>

<div>
    <ui-gmap-google-map center="map.center" zoom="map.zoom">

    </ui-gmap-google-map>

</div>
