<div class="jumbotron">
  <h1>Tour de London</h1>

  <p class="lead">
    <br>
    Where are some near by boris bikes?
  </p>

  <form ng-submit="submit()">
    <div><label>Where I am:</label> <input type="text" ng-model="userDetails.location"/></div>
    <div><label>Where I want to go:</label> <input type="text" placeholder="where to?" ng-model="userDetails.destination"/></div>
    <div><label>Radius (m):</label> <input type="text" ng-model="userDetails.radius"/></div>
    <input type="submit" value="Find Bikes"/>
  </form>
</div>

<div>
  <ui-gmap-google-map center="map.center" zoom="map.zoom">
    <ui-gmap-layer type="BicyclingLayer" show="true"></ui-gmap-layer>
    <ui-gmap-markers models="markers.marker" coords="'self'" click="'onClick'">
      <ui-gmap-windows show="show" options="'options'">
      </ui-gmap-windows>
    </ui-gmap-markers>
  </ui-gmap-google-map>

</div>
